* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: #83e0d6;

  font-family: "Yaldevi", sans-serif;
  line-height: 1.5;
  background-size: contain;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {
}

.navigation {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
header {
  line-height: 40px;
}
ul li {
  background-color: rgb(102, 56, 96);
  width: 250px;
  height: 50px;
  float: left;
  border: 2px solid #0c0c0c;
  text-align: center;
  list-style-type: none;
  padding-top: 15px;
  box-sizing: border-box;
}
ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  color: rgb(102, 56, 96);
  text-align: center;
  text-shadow: 3px 3px 2px #000;
  font-family: "Lobster", cursive;
  font-size: 450%;
  padding-bottom: 50px;

  /*padding: 3% 0 1% 0;
    display:block;*/
}
h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 250%;
  padding-top: 20px;
}
img {
  width: 100%;
  height: 100%;
  border: 15px solid rgb(99, 39, 39);
  object-fit: cover;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

footer {
  padding: 70px 70px 90px 70px;
  bottom: 50px;
  width: 100%;
  background-color: rgb(63, 151, 192);
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}
.fa-instagram {
  background: #3b5998;
  color: white;
}
